{% extends 'base.html.twig' %}

{% block title %}Property index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('property') }}
{% endblock %}

{% block body %}
    <h1>Property index</h1>

    <a href="{{ path('property_new')}}" class="btn btn-primary"><i class="fas fa-plus"></i>Nouveau bien</a>

    <table class="table">
        <thead>
            <tr>
                <th>Surface</th>
                <th>Rooms</th>
                <th>Adress</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for property in properties %}
            <tr>
                <td>{{ property.surface }}</td>
                <td>{{ property.rooms }}</td>
                <td>{{ property.adress }}</td>
                <td>
                    <a class="btn btn-link" href="{{ path('property_edit', {'id': property.id}) }}"><i class="fas fa-edit"></i> Modifier</a>
                    {{ include('property/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('property') }}
{% endblock %}
